
body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}
.fixe{
    width: 100%;
    height: 30%;
    background:#3792E5;
}
.fixe h1{
    margin-left: 38%;
    color: white;
}
form{
    width: 60%;
    height: 370px;
    border: 2px solid #3792E5;
    margin-top: 2%;
    box-shadow: 5px 5px 3px #3792E5;
}

img{
    width: 20%;
    height: 20%;
    margin-left: 40%;
}
.Titre{
    font-size: 38px;
    color: #3792E5;
    margin-left: 36%;
    margin-top: -6%;
}
input{
    width: 90%;
    height: 27px;
    border: 2px solid #3792E5;
    border-radius: 10px;
    font-size: 13px;
    margin-top: 2px;
}
.inputs{
   margin-left: 10%;
   margin-top: 2px;

}
label{
    font-size: 15px;
    
}
button{
    width: 25%;
    height: 7%;
    margin-left: 38%;
    margin-top: 25px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    background-color: #3792E5;
    border: none;
}
.bas{
    margin-left: 27%;
}

a{
    font-size: 1.1rem; 
    font-weight: bold;
    text-decoration: none;
}
span{
    color: red;
}